@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poiret+One&display=swap');
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

/* reset all styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-primary);
	font-weight: bold;
	font-size: 105%;
	line-height: 1;
	color: var(--color-primary);
	outline: none;
	border: none;
	text-decoration: none;
}

/* root element */
:root {
	scroll-behavior: smooth;

	/* Variables */
	--background: #000013;
	--color-primary: #d0d3d2;
	--color-accent: #32ddd0;
	--metal-darker: #616161;
	--metal-dark: #919191;
	--metal: #d0d3d2;
	--success: #32dd00;
	--error: #dd0032;
	--warning: #ffd333;
	--font-primary: 'Poiret One', arial;
	--font-emphasis: 'Limelight', cursive;
	--header-height: 3rem;
	--footer-height: 5rem;
}

/* bootstrap overrides */

.navbar-dark, .navbar-brand, .bg-primary {
	background-color: var(--background) !important;
	color: var(--color-primary) !important;
}

.navbar-brand {
	font-size: 1.75rem;
}

.navbar-toggler {
	height: 50px;
	width: 50px;
	transition: .5s ease-in-out;
	position: relative;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
	border: 0;
	cursor: pointer;
}

.navbar-toggler span {
	margin: 0 0 0 -.35rem;
	padding: 0;
}

.toggler-icon { 
	display: block;
	position: absolute;
   height: 3px;
	width: 70%;
	background-color: var(--color-primary);
	border-radius: 1px;
	opacity: 1;
	transform: rotate(0deg);
	transition:.25s ease-in-out;
}

.navbar-toggler:hover .toggler-icon {
	background-color: var(--color-accent);
}

.navbar-toggler:hover {
	border: 1px solid var(--color-accent);
}

.middle-bar {
	margin-top: 0px;
}

.navbar-toggler .top-bar {
	margin-top: 0px;
	transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
	opacity: 0;
	filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
	margin-top: 0px;
   transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
	margin-top: -20px;
	transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
   opacity: 1;
   filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
	margin-top: 20px;
	transform: rotate(0deg);
}

/* Body */
body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: var(--background);
}

.primary {
	color: var(--color-primary);
}

/* Header Components */
header-component {
	height: var(--header-height);
}

.navbar a {
	color: var(--color-primary);
   text-decoration: none;
}

li a:hover,
li a:hover i,
li a:hover span {
   color: var(--color-accent);

}

/* Container */
.container {
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

/* Footer */
.footer {
	min-height: var(--footer-height);
	background-color: var(--background);
	justify-content: center;
	align-items: center;
}

.footer-links {
	font-size: 1rem;
}

.footer-link a,
a:hover,
a:active,
a:visited,
a:focus,
.copyright {
	color: var(--color-primary);
}

.footer-link a:hover {
	font-style: italic;
	text-decoration: none;
}

.copyright {
	font-size: 0.8rem;
}
